body::-webkit-scrollbar {
    display: none; /* Chrome */
}

body {
    scrollbar-width: none;  /* Firefox */
}

.logs-section {
    display: flex;
    flex-direction: column;
    font-size: 13px;
    margin: 20px 20px 20px 20px;
}

.log-single-cell {
    display: inline-flex;
    align-items: center;
}

.log-single-cell:last-child {
    margin-right: 7px;
}

/*.log-single-cell:first-child {*/
/*    margin-left: 5px;*/
/*}*/

.log-single {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    flex-direction: column;
    padding-top: 3px;
    height: 35px;
    border: 1px solid #00000017;
    border-radius: 5px;
    background: linear-gradient(90deg, aliceblue 0%, rgb(39 167 231 / 3%) 100%);
    animation: gradient 5s cubic-bezier(0.4, 0, 1, 1) infinite;
    transition: height 950ms ease 50ms;
}

.log-single-heading {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.log-single-details {
    display: inline-flex;
    align-items: flex-start;
    justify-content: center;
    padding: 10px 40px 10px 40px;
    width: 94%;
    height: 100%;
    max-height: 200px;
}

.log-single.log-single-active {
    /* will be updated */
}

.log-single:not(:last-child) {
    margin-bottom: 12px;
}

.log-single-icon {
    padding: 4px 12px 0px 10px;
}

.log-single-cell:nth-child(3) {
    width: 43px;
    justify-content: center;
}

.message-type-text {
    font-weight: 500;
    width: 45px;
    display: inline-block;
}

.message-date-text {
    width: 95px;
    display: inline-block;
}

.pagination {
    display: flex;
    justify-content: center;
    margin-top: -5px;
    margin-bottom: 15px;
}

.pagination a {
    color: black;
    float: left;
    padding: 8px 16px;
    text-decoration: none;
}

.pagination a.active {
    background: linear-gradient(75deg, rgb(39 167 231 / 14%) 0%, rgb(34 158 217 / 43%) 100%);
    animation: gradient 5s cubic-bezier(0.4, 0, 1, 1) infinite;
    color: #000;
    border-radius: 5px;
}

.pagination a:hover:not(.active) {
    background-color: #ddd;
    border-radius: 5px;
}

.pagination a:first-child {
    border-top-left-radius: 5px;
    border-bottom-left-radius: 5px;
}

.pagination a:last-child {
    border-top-right-radius: 5px;
    border-bottom-right-radius: 5px;
}

.pagination-disabled-button {
    color: #00000052 !important;
    cursor: default;
}

.pagination-disabled-button:hover {
    background-color: transparent !important;
}

.logs-list-empty {
    display: flex;
    align-self: center;
    gap: 1rem;
}

.failed-message-item {
    background: linear-gradient(90deg, #ff00001a 0%, rgb(39 167 231 / 3%) 100%);
}

.hide-single-row {
    transform: scaleY(0);
    /*transition: transform 500ms ease 0ms;*/
}

.show-single-row {
    transform: scaleY(1);
    height: 245px;
}

.display-none {
    display: none;
}

.log-single-active {
    /* will be updated */
}

.eyes-open, .eyes-wide-shut {
    background-size: 100% 100%;
    height: 18px;
    width: 18px;
    position: absolute;
    cursor: pointer;
    margin-top: -9px;
    margin-left: -8px;
    -o-transition:.4s;
    -ms-transition:.4s;
    -moz-transition:.4s;
    -webkit-transition:.4s;
    transition:.4s;
    background-color: transparent;
}

.eyes-open {
    background: no-repeat url('../icons/phospor-icons/eye-light-ph.svg');
}

.eyes-wide-shut {
    background: no-repeat url('../icons/phospor-icons/eye-closed-light-ph.svg');
    z-index: 1;
}

.log-single-details .details-container {
    resize: none;
    background: transparent;
    height: 100%;
    max-height: 173px;
    padding: 5px 5px 5px 5px;
    border-radius: 5px;
    border: 1px solid #00000017;
    max-width: 275px;
}

textarea.details-container {
    width: 100%;
}

img.details-container {
    max-width: 100%;
}

.details-link-container {
    display: flex;
    justify-content: space-between;
    padding: 10px 5px 10px 5px;
}

.details-link-container span {
    min-width: 55px;
    font-weight: 500;
}

.details-container a {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    display: inline-block;
    max-width: 220px;
    vertical-align: bottom;
    color: rgb(16 76 106);
    text-decoration: none;
}

.details-container:has(.details-link-container) {
    max-height: 73px;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.log-single-details:has(.details-link-container) {
    align-items: center;
}

::-webkit-scrollbar {
    -webkit-appearance: none;
    width: 7px;
}

::-webkit-scrollbar-thumb {
    border-radius: 4px;
    background-color: rgba(0,0,0,.5);
    -webkit-box-shadow: 0 0 1px rgba(255,255,255,.5);
}

* {
    scrollbar-width: thin;
    scrollbar-color: rgba(0, 0, 0, 0.5) rgba(255, 255, 255, 0);
}
