@font-face {
    font-family: 'Inter';
    src: local('Inter'), url('../font/Inter/Inter-VariableFont_slnt,wght.ttf') format('truetype');
}

body * {
    font-family: 'Inter', sans-serif;
}

body {
    width: 350px;
    margin: 0;
}
header {
    height: 50px;
    background: aliceblue;
    display: flex;
    justify-content: center;
    align-items: center;
}

header h1 {
    display: flex;
    gap: 7px;
    align-items: center;
    font-size: 16px;
    margin: 0;
    font-weight: 600;
}

main {
    padding-bottom: 50px;
}

section {
    margin: 12px 20px 15px 20px;
}

.split {
    display: flex;
    justify-content: space-evenly;
    border: 1px solid rgb(39 167 231 / 15%);
    border-radius: 5px;
    background-clip: content-box;
    background: linear-gradient(90deg, aliceblue 0%, rgb(39 167 231 / 14%) 100%);
    animation: gradient 5s cubic-bezier(0.4, 0, 1, 1) infinite;
    background-size: 400% 400%;
}

@keyframes gradient {
    0% {
        background-position: 0% 50%;
    }
    50% {
        background-position: 100% 50%;
    }
    100% {
        background-position: 0% 50%;
    }
}

.connection-status {
    text-align: center;
}

.dot {
    height: 10px;
    width: 10px;
    border-radius: 50%;
    display: inline-block;
    vertical-align: -1px;
}

.green-dot {
    background-color: seagreen;
}

.red-dot {
    background-color: darkred;
}

.gray-dot {
    background-color: darkgray;
}

.connection-status {
    margin-block-end: 0;
}

#total-message-count {
    font-weight: 600;
    font-size: 26px;
}

.messages-sent {
    display: flex;
    align-items: center;
}

.last-messages {
    display: flex;
    flex-direction: column;
}

.last-messages p {
    margin-block-start: 5px;
    margin-block-end: 5px;
}

.last-message-header {
    font-weight: 600;
}

.successful-text-underline {
    text-shadow: 2px 2px 5px #0080009c;
}

.log-info-text {
    text-shadow: -1px 1px 5px green;
    font-size: unset !important;
}

.failed-text-underline {
    text-shadow: 2px 2px 5px #ff00008a;
}

.vertical-line {
    border-left: 1px solid rgb(165 165 165 / 33%);
    margin-top: 7px;
    margin-bottom: 7px;
}

.horizontal-line {
    border-top: 1px solid rgb(165 165 165 / 33%);
}

.logo-small {
    display: inline-block;
    background: url('../logo/128.png') center/100%;
    height: 23px;
    width: 23px;
}

footer {
    position: fixed;
    bottom: 0;
    width: 100%;
}

.footer-navigation {
    height: 50px;
    background: aliceblue;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}

.footer-navigation img {
    padding: 12px 12px 12px 12px;
}

.footer-navigation div {
    height: 50px;
    width: 50px;
}

.footer-navigation div:hover{
    -o-transition:.3s;
    -ms-transition:.3s;
    -moz-transition:.3s;
    -webkit-transition:.3s;
    transition:.3s;
    box-shadow: inset 0 0 0 30px rgba(165, 165, 165, 0.38);
}

.tooltip {
    position: relative;
    display: inline-block;
}

.tooltip .tooltiptext {
    visibility: hidden;
    width: 65px;
    background-color: #7b7b7bc4;
    color: #fff;
    text-align: center;
    padding: 5px 0;
    border-radius: 6px;
    position: absolute;
    z-index: 1;
    bottom: 115%;
    left: 50%;
    margin-left: -33px;
    opacity: 0;
    transition: opacity 0.3s;
}

.tooltip .tooltiptext::after {
    content: '';
    position: absolute;
    top: 100%;
    left: 50%;
    margin-left: -5px;
    border-width: 5px;
    border-style: solid;
    border-color: #7b7b7bc4 transparent transparent transparent;
}

.tooltip:hover .tooltiptext {
    visibility: visible;
    opacity: 1;
}

.blink-one {
    animation: blinker 1s linear 200ms infinite;
}
.blink-two {
    animation: blinker 1s linear 300ms infinite;
}
.blink-three {
    animation: blinker 1s linear 400ms infinite;
}

@keyframes blinker {
    50% { opacity: 0; }
}

.visually-hidden {
    position: absolute !important;
    width: 1px !important;
    height: 1px !important;
    padding: 0 !important;
    margin: -1px !important;
    overflow: hidden !important;
    clip: rect(0,0,0,0) !important;
    white-space: nowrap !important;
    border: 0 !important;
}
