/*

PureCSS Tabs - https://codepen.io/alvarotrigo/pen/bGoPzMe

*/

.form-section:not(:first-child) {
    display: none;
}

#form-user-settings{
    margin-top: 5px;
}

.legacy-tab-input {
    display: none;
}

.settings-tab-label {
    display: inline-block;
    margin: 0 0 -1px;
    padding: 15px 14px;
    font-size: 14.5px;
    font-weight: 600;
    text-align: center;
    color: #757575;
    border: 1px solid transparent;
}

.settings-tab-label[data-btn-id="1"] {
    margin-left: 23px;
}

.settings-tab-label[data-btn-id="2"] {
    margin-left: 2px;
    margin-right: 1px;
}

.settings-tab-label[data-btn-id="3"] {
    max-width: 64px;
}

.settings-tab-label:hover {
    color: #3c3c3c;
    cursor: pointer;
}

.tab-buttons button {
    background: transparent;
}

.legacy-tab-input:checked + .settings-tab-label {
    color: #000;
    position: relative;
}

.legacy-tab-input:not(:checked) + .settings-tab-label .hashtag-icon {
    filter: grayscale(100%);
}

.legacy-tab-input:checked + .settings-tab-label::after {
    content: "";
    position: absolute;
    bottom: 0;
    left: 50%;
    transform: translateX(-50%);
    width: 0;
    height: 2px;
    background-color: #0093E9;
    background-image: linear-gradient(160deg, #0093E9 0%, #80D0C7 100%);
    animation: borderAnimation 0.5s ease-in-out forwards;
}

@keyframes borderAnimation {
    0% {
        width: 0;
    }

    50% {
        width: 100%;
    }

    100% {
        width: 100%;
    }
}

.tabs-container {
    display: flex;
    justify-content: center;
    align-items: center;
}

.save-settings {
    display: flex;
    justify-content: space-between;
    align-items: center;
    max-width: 308px;
}

.save-settings span {
    opacity: 70%;
    transition: .2s ease-in;
    padding-left: 2px;
}

.save-settings span:hover {
    opacity: 100% !important;
    transition: .2s ease-out;
}

.form-section fieldset {
    border-width: 1px;
    border-radius: 5px;
    border-color: rgb(39 167 231 / 15%);
    background: linear-gradient(90deg, aliceblue 0%, rgb(39 167 231 / 3%) 100%);
    animation: gradient 5s cubic-bezier(0.4, 0, 1, 1) infinite;
}

.form-section fieldset:first-of-type {
    margin-top: -7px;
}

.form-section fieldset legend {
    font-size: 13px;
    font-weight: 500;
    text-align: center;
    background: white;
    padding: 0 5px 3px 5px;
    border-radius: 5px;
    border-bottom: 1px solid rgb(39 167 231 / 21%);
}

.form-section fieldset legend select {
    border: 0px;
    -webkit-user-select: none;
    -ms-user-select: none;
    user-select: none;
    text-align: center;
    font-weight: 600;
    color: #5264AE;
    background-color: transparent;
}

.form-section fieldset label:not([for="message-type-selector"]) {
    font-size: 13px;
    vertical-align: 2px;
}

.form-section fieldset hr {
    border: 0.5px dashed gray;
    margin-block: 4px;
}

#image-message-options {
    display: none;
}

#image-message-options input[type="radio"] {
    margin-left: 4px;
}

#image-message-options input[type="radio"] span {
    font-style: italic;
}

label[for^="opt-image-send-as"] span {
    font-weight: 500;
}


#settings-tab-content-2 fieldset div[id*="message-options"] {
    margin-top: 1px;
}

#settings-tab-content-3 {
    margin-top: 21px !important;
}

.options-field:not(:last-child) {
    margin-bottom: 1px;
}

/* The switch - the box around the slider */
.logs-switch, .tags-switch {
    position: relative;
    display: inline-block;
    width: 30px;
    height: 15px;
    vertical-align: text-bottom !important;
    margin-left: 3px;
}

/* Hide default HTML checkbox */
.logs-switch input, .tags-switch input {
    opacity: 0;
    width: 0;
    height: 0;
}

/* The slider */
.logs-slider {
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #ccc;
    -webkit-transition: .4s;
    transition: .4s;
    border-radius: 34px;
}

.logs-slider:before {
    position: absolute;
    content: "";
    height: 11px;
    width: 11px;
    left: 3px;
    bottom: 2px;
    background-color: white;
    -webkit-transition: .4s;
    transition: .4s;
    border-radius: 50%;
}

input:checked + .logs-slider {
    background-color: #2196F3;
}

input:focus + .logs-slider {
    box-shadow: 0 0 1px #2196F3;
}

input:checked + .logs-slider:before {
    -webkit-transform: translateX(13px);
    -ms-transform: translateX(13px);
    transform: translateX(13px);
}

#logging-options {
    transition: .4s;
}

#logging-options span {
    font-size: 13px;
}

#logging-options input[type="radio"] {
    vertical-align: -2px;
}

#logging-options label {
    vertical-align: bottom;
}

.disabled-action-items {
    color: gray !important;
    user-select: none;
}

.disabled-action-items input[type="radio"] {
    accent-color: gray;
}

#settings-tab-content-1 fieldset {
    margin-top: -6px;
}

/*Source: https://cssloaders.github.io/
  Name: Matrix [data-id="nd6o-mtrix"]
*/
.loader {
    width: 32px;
    height: 34px;
    display: inline-block;
    background: linear-gradient(#0000 calc(1*100%/6),rgb(39 167 231 / 15%) 0 calc(3*100%/6),#0000 0),
                linear-gradient(#0000 calc(2*100%/6),rgb(39 167 231 / 21%) 0 calc(4*100%/6),#0000 0),
                linear-gradient(#0000 calc(3*100%/6),rgb(34 158 217 / 34%) 0 calc(5*100%/6),#0000 0);
    background-size:10px 400%;
    background-repeat: no-repeat;
    animation:matrix 0.5s infinite linear;
}
@keyframes matrix {
    0% {background-position: 0% 100%, 50% 100%, 100% 100% }
    100% {background-position: 0% 0%, 50% 0%, 100% 0% }
}

.save-button:has(.no-button-hover):hover {
    background-color: #f3f7fe !important;
    box-shadow: unset !important;
}

.save-button:has(.no-button-hover) img {
    padding-top: 3px;
}

.save-settings span a, .save-settings span a:visited {
    color: black !important;
}

.gradient-text {
    --bg-size: 400%;
    --color-one: hsl(169.04deg 69.23% 19.68%);
    --color-two: hsl(175.86deg 56.04% 47.12%);
    font-family: sans-serif;
    font-size: 13px;
    background: linear-gradient(
            90deg,
            var(--color-one),
            var(--color-two),
            var(--color-one)
    )
    0 0 / var(--bg-size) 100%;
    color: transparent;
    background-clip: text;
}

@media (prefers-reduced-motion: no-preference) {
    .gradient-text {
        animation: move-bg 8s linear infinite;
    }
    @keyframes move-bg {
        to {
            background-position: var(--bg-size) 0;
        }
    }
}

.disabled-action-items .gradient-text {
    --color-one: #808080;
    --color-two: #383838;
}

.grid-box {
    width: 100%;
    max-width: 130px;
    height: 30px;
    display: flex;
    background-color: #fff;
    border: solid 1px rgb(0, 0, 0, 0.2);
    padding: 8px;
    margin: 5px;
    text-overflow: ellipsis;
    overflow: hidden;
    border-radius: 3px;
}

.grid-box span {
    cursor: grab;
}

.grabbing * {
    cursor: grabbing !important;
}

body.grabbing {
    user-select: none;
}

.grid-box-ghost {
    background-color: #d6dfef;
}

.tag-order {
    font-weight: 600;
    margin-right: 4px;
}

.tag-rules-wrapper {
    padding-inline-start: 5px;
    list-style-type: none;
}

.tag-rules-wrapper li.satisfies::before {
    content: "✓";
    color: green;
    margin-right: 5px;
}

.tag-rules-wrapper li.not-satisfies::before {
    content: "✗";
    color: red;
    margin-right: 5px;
}

.hidden {
    display: none;
}

.disabled {
    pointer-events: none;
    opacity: 0.5;
}

@keyframes expand {
    from {
        max-height: 0;
        opacity: 0;
    }
    to {
        max-height: 500px; /* Adjust as needed */
        opacity: 1;
    }
}

.expanded {
    display: block;
    animation: expand 0.7s ease-out forwards;
    overflow: hidden;
}

.added-tag {
    width: 100%;
    height: 30px;
    display: inline-block;
    text-overflow: ellipsis;
    overflow: hidden;
}

.delete-tag {
    cursor: pointer;
    background: no-repeat url('../icons/phospor-icons/trash-light-ph.svg');
    z-index: 1;
    height: 20px;
    width: 20px;
    visibility: hidden;
}

.grid-box:hover .delete-tag:not(.hidden) {
    visibility: visible;
}

.hashtag-icon {
    height: 14px;
    width: 14px;
    position: absolute;
    margin: 2px 0 0 -10px;
    background: no-repeat url('../icons/phospor-icons/hash-ph.svg');
    transition: .2s;
}

.tags-tab-label {
    margin-left: 5px;
}

.tags-info-text {
    text-align: justify;
    width: 270px;
    padding-left: 7px;
}

.tags-info-text strong {
    font-weight: 500;
}
