/**
Button by alexmaracinaru
Source: https://uiverse.io/alexmaracinaru/brown-bobcat-65
MIT License
Copyright - 2024 alexmaracinaru (Alex Maracinaru)
Permission is hereby granted, free of charge, to any person obtaining a copy of this software and associated documentation files
(the “Software”), to deal in the Software without restriction, including without limitation the rights to use, copy, modify, merge,
publish, distribute, sublicense, and/or sell copies of the Software, and to permit persons to whom the Software is furnished to do so,
subject to the following conditions:
The above copyright notice and this permission notice shall be included in all copies or substantial portions of the Software.
THE SOFTWARE IS PROVIDED “AS IS”, WITHOUT WARRANTY OF ANY KIND, EXPRESS OR IMPLIED, INCLUDING BUT NOT LIMITED TO THE WARRANTIES
OF MERCHANTABILITY, FITNESS FOR A PARTICULAR PURPOSE AND NONINFRINGEMENT. IN NO EVENT SHALL THE AUTHORS OR COPYRIGHT HOLDERS BE
LIABLE FOR ANY CLAIM, DAMAGES OR OTHER LIABILITY, WHETHER IN AN ACTION OF CONTRACT, TORT OR OTHERWISE, ARISING FROM, OUT OF OR IN
CONNECTION WITH THE SOFTWARE OR THE USE OR OTHER DEALINGS IN THE SOFTWARE.
*/

.cta {
    position: relative;
    padding: 12px 18px;
    transition: all 0.2s ease;
    border: none;
    background: none;
    cursor: pointer;
    margin: auto auto auto -2px;
}

.cta:before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    display: block;
    border-radius: 50px;
    background: #b1dae7;
    width: 45px;
    height: 45px;
    transition: all 0.3s ease;
}

.cta span {
    position: relative;
    font-size: 15px;
    font-weight: 700;
    letter-spacing: 0.05em;
    color: #234567;
}

.cta svg {
    position: relative;
    top: 0;
    margin-left: 10px;
    fill: none;
    stroke-linecap: round;
    stroke-linejoin: round;
    stroke: #234567;
    stroke-width: 2;
    transform: translateX(-5px);
    transition: all 0.3s ease;
}

.cta:hover:before {
    width: 100%;
    background: #b1dae7;
}

.cta:hover svg {
    transform: translateX(0);
}

.cta:active {
    transform: scale(0.95);
}

/* End of the button style */

@keyframes fadein {
    from { opacity: 0; }
    to   { opacity: 1; }
}

.wizard-welcome h2 {
    font-size: 20px;
}

.wizard-welcome p {
    font-size: 14px;
}

.wizard-welcome p:not(.bad-joke) {
    animation: fadein 1s;
}

.display-none {
    display: none;
}

.wizard-welcome ol {
    font-size: 13px;
}

.wizard-welcome ol li {
    padding-block: 0.3rem;
    animation: fadein 1s;
}

.wizard-welcome ol li::marker {
    font-weight: 700;
}

.verified-badge {
    height: 16px;
    width: 16px;
    display: inline-block;
    vertical-align: bottom;
    background: no-repeat url(../icons/phospor-icons/seal-check-fill-ph.svg) center/100%;
}

.bad-joke {
    margin-block-start: 0px;
    margin-block-end: 0px;
    font-weight: 500;
}

.wizard-welcome:has(.bad-joke) h2 {
    margin-block-end: 0px;
}

.hide-wizard-section {
    margin-bottom: 12px;
    font-size: 14px;
    font-weight: 500;
    margin-left: -4px;
    animation: fadein 1s;
}

input#hide-wizard {
    vertical-align: -1px;
}

/**
Particle Orb CSS
Source: https://codepen.io/natewiley/pen/GgONKy
 */

.particle-container {
    position: fixed;
    top: 50%;
    left: 50%;
    width: 0;
    height: 0;
    transform-style: preserve-3d;
    perspective: 1000px;
    animation: rotate 14s infinite linear;
    z-index: -1;
}
@keyframes rotate {
    100% {
        transform: rotateY(360deg) rotateX(360deg);
    }
}
.particle {
    position: absolute;
    width: 8px;
    height: 8px;
    border-radius: 50%;
    opacity: 0;
}
.particle:nth-child(1) {
    animation: orbit1 14s infinite;
    animation-delay: 0.01s;
    background-color: rgb(20, 79, 112);
}
@keyframes orbit1 {
    20% {
        opacity: 1;
    }
    30% {
        transform: rotateZ(-82deg) rotateY(285deg) translateX(100px) rotateZ(82deg);
    }
    80% {
        transform: rotateZ(-82deg) rotateY(285deg) translateX(100px) rotateZ(82deg);
        opacity: 1;
    }
    100% {
        transform: rotateZ(-82deg) rotateY(285deg) translateX(300px) rotateZ(82deg);
    }
}
.particle:nth-child(2) {
    animation: orbit2 14s infinite;
    animation-delay: 0.02s;
    background-color: rgb(9, 49, 107);
}
@keyframes orbit2 {
    20% {
        opacity: 1;
    }
    30% {
        transform: rotateZ(-344deg) rotateY(335deg) translateX(100px) rotateZ(344deg);
    }
    80% {
        transform: rotateZ(-344deg) rotateY(335deg) translateX(100px) rotateZ(344deg);
        opacity: 1;
    }
    100% {
        transform: rotateZ(-344deg) rotateY(335deg) translateX(300px) rotateZ(344deg);
    }
}
.particle:nth-child(3) {
    animation: orbit3 14s infinite;
    animation-delay: 0.03s;
    background-color: rgb(94, 205, 222);
}
@keyframes orbit3 {
    20% {
        opacity: 1;
    }
    30% {
        transform: rotateZ(-334deg) rotateY(333deg) translateX(100px) rotateZ(334deg);
    }
    80% {
        transform: rotateZ(-334deg) rotateY(333deg) translateX(100px) rotateZ(334deg);
        opacity: 1;
    }
    100% {
        transform: rotateZ(-334deg) rotateY(333deg) translateX(300px) rotateZ(334deg);
    }
}
.particle:nth-child(4) {
    animation: orbit4 14s infinite;
    animation-delay: 0.04s;
    background-color: rgb(117, 153, 192);
}
@keyframes orbit4 {
    20% {
        opacity: 1;
    }
    30% {
        transform: rotateZ(-288deg) rotateY(157deg) translateX(100px) rotateZ(288deg);
    }
    80% {
        transform: rotateZ(-288deg) rotateY(157deg) translateX(100px) rotateZ(288deg);
        opacity: 1;
    }
    100% {
        transform: rotateZ(-288deg) rotateY(157deg) translateX(300px) rotateZ(288deg);
    }
}
.particle:nth-child(5) {
    animation: orbit5 14s infinite;
    animation-delay: 0.05s;
    background-color: rgb(94, 205, 222);
}
@keyframes orbit5 {
    20% {
        opacity: 1;
    }
    30% {
        transform: rotateZ(-213deg) rotateY(21deg) translateX(100px) rotateZ(213deg);
    }
    80% {
        transform: rotateZ(-213deg) rotateY(21deg) translateX(100px) rotateZ(213deg);
        opacity: 1;
    }
    100% {
        transform: rotateZ(-213deg) rotateY(21deg) translateX(300px) rotateZ(213deg);
    }
}
.particle:nth-child(6) {
    animation: orbit6 14s infinite;
    animation-delay: 0.06s;
    background-color: rgb(9, 49, 107);
}
@keyframes orbit6 {
    20% {
        opacity: 1;
    }
    30% {
        transform: rotateZ(-310deg) rotateY(141deg) translateX(100px) rotateZ(310deg);
    }
    80% {
        transform: rotateZ(-310deg) rotateY(141deg) translateX(100px) rotateZ(310deg);
        opacity: 1;
    }
    100% {
        transform: rotateZ(-310deg) rotateY(141deg) translateX(300px) rotateZ(310deg);
    }
}
.particle:nth-child(7) {
    animation: orbit7 14s infinite;
    animation-delay: 0.07s;
    background-color: rgb(64, 101, 168);
}
@keyframes orbit7 {
    20% {
        opacity: 1;
    }
    30% {
        transform: rotateZ(-73deg) rotateY(209deg) translateX(100px) rotateZ(73deg);
    }
    80% {
        transform: rotateZ(-73deg) rotateY(209deg) translateX(100px) rotateZ(73deg);
        opacity: 1;
    }
    100% {
        transform: rotateZ(-73deg) rotateY(209deg) translateX(300px) rotateZ(73deg);
    }
}
.particle:nth-child(8) {
    animation: orbit8 14s infinite;
    animation-delay: 0.08s;
    background-color: rgb(0, 196, 255);
}
@keyframes orbit8 {
    20% {
        opacity: 1;
    }
    30% {
        transform: rotateZ(-155deg) rotateY(199deg) translateX(100px) rotateZ(155deg);
    }
    80% {
        transform: rotateZ(-155deg) rotateY(199deg) translateX(100px) rotateZ(155deg);
        opacity: 1;
    }
    100% {
        transform: rotateZ(-155deg) rotateY(199deg) translateX(300px) rotateZ(155deg);
    }
}
.particle:nth-child(9) {
    animation: orbit9 14s infinite;
    animation-delay: 0.09s;
    background-color: rgb(17, 48, 58);
}
@keyframes orbit9 {
    20% {
        opacity: 1;
    }
    30% {
        transform: rotateZ(-262deg) rotateY(33deg) translateX(100px) rotateZ(262deg);
    }
    80% {
        transform: rotateZ(-262deg) rotateY(33deg) translateX(100px) rotateZ(262deg);
        opacity: 1;
    }
    100% {
        transform: rotateZ(-262deg) rotateY(33deg) translateX(300px) rotateZ(262deg);
    }
}
.particle:nth-child(10) {
    animation: orbit10 14s infinite;
    animation-delay: 0.1s;
    background-color: rgb(0, 14, 255);
}
@keyframes orbit10 {
    20% {
        opacity: 1;
    }
    30% {
        transform: rotateZ(-312deg) rotateY(21deg) translateX(100px) rotateZ(312deg);
    }
    80% {
        transform: rotateZ(-312deg) rotateY(21deg) translateX(100px) rotateZ(312deg);
        opacity: 1;
    }
    100% {
        transform: rotateZ(-312deg) rotateY(21deg) translateX(300px) rotateZ(312deg);
    }
}

/* End of Particle Orb CSS */
